<!DOCTYPE html>
<html>
<head>
    <title>About Kalikeng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/clients">Clients</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/add client">Add Client</a>
    </nav>
    <h1>About Kalikeng Trading and Projects CC</h1>
    <p>Reg No: 2010/007041/23 | VAT No:4340257320</p>
    <p>Founded:2010</p>
    <p>Location:2438 Toka Street Zone 13 Sebokeng 1982</p>
    <p>Directors Names: Sechaba Mofokeng and Chahane Mokali</p>
    <p>Specialising in stationery, textbooks and passenger transport.</p>
    <a href="/">Home</a>
    <div class="container">
    </div>  
    <footer>
        <p>&copy; 2026 <span>Kalikeng Trading and Projects CC</span> - All rights reserved</p>  
        <p>Reg No: 2010/007041/23 | VAT No:4340257320</p>
    </footer>
</body>
</html>