<!DOCTYPE html>
<html>
<head>
    <title>Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/search">Search</a> |
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/clients">Clients</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/add client">Add Client</a>
    </nav>
    <h1>Kalikeng Clients</h1>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Amount</th>
            <th>Status</th>

    {% for client in clients %}
    <tr>
        <td>{{ client["name"] }}</td>
        <td>{{ client["phone"] }}</td>
        <td>{{ client["amount"] }}</td>
        {% if client["status"] == "Unpaid" %}
            <td style="color:red;font-weight:bold;">{{ client.status }}</td>
        {% else %}
            <td style="color:green;font-weight:bold;">{{ client.status }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    <footer>
        <p>&copy; 2026 <span>Kalikeng Trading and Projects CC</span> - All rights reserved</p>
        <p>Reg No: 2010/007041/23 | VAT No: 4340257320</p>
    </footer>
</body>
</html>

