
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalikeng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/clients">Clients</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/">Add Client</a>
        
    </nav>
    <h1>Welcome to {{ company }}</h1>
    <p>Current year: {{ year }}</p>
    <div class="container">
    </div>
    <footer>
        <p>&copy; 2026 <span>Kalikeng Trading and Projects CC</span> - All rights reserved</p>
        <p>Reg No: 2010/007041/23 | VAT No: 4340257320</p>
    </footer>
</body>
</html>
