<!DOCTYPE html>
<html>
<body>
    <h1>Separaka</h1>
    {% if errors %}
        {% for error in errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="email" name="email" placeholder="Email address" required>
        <button type="submit">Register</button>
        <div id="message"></div>
        <p>Already have an account?<a href="/login">Login here</a></p>
    </form>
</body>
</html>