<!DOCTYPE html>
<html>
<body>
    <script>
        const company = "Kalikeng Trading and Projects CC";
        let revenue = 30700;
        const clients = ["Kalikeng Trading and Projects", "Chahane Holdings", "Separaka Holdings", "Java Jino Tradings"];
        const client = {name: "Kalikeng Trading and Projects", phone: "0732239762", amount: 5000, status: "Unpaid"};
        console.log(company.toUpperCase());
        console.log(company.length);
        console.log(company.includes("Trading"));
        console.log(`Kalikeng-R${revenue} revenue`);
        console.log(clients[2]);
    </script>
</body>
</html>
